@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------Global */

.text-center {
    text-align: center;
}

.flex-container {
    display: flex;
}

body {
    background-color: #a52a2a;
}

/* ----------------------------------------------------------Header */
header {
    background: linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
    font-family: 'Bebas Neue', cursive;;
    text-align: center;
    letter-spacing: 3.5px;
    padding: 5px;
    text-shadow: 3px 2px 8px black;
}


/* ------------------------------------------ Nav */
nav {
    justify-content: space-around;
}

nav ul li {
    display: inline;
    padding: 0 3.5px;
    text-decoration: none;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

/* ------------------------------------------------------Main */

.container {
    background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
    padding: 10px;
    margin: 50px auto;
    border-radius: 30px;
    width: 95%;
}

main {
    background-color: #f5f5dc;
    border-radius: 20px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}