/* ---------------------- Position Fixed example */
 
/*#ten {
    position: fixed;
    top: 400px;
    right: 500px;
} */

/* ------------------------- Sticky Position Header example */

/* #one-sticky {
    position: sticky;
    top: 400px;
    left: 300px;
} */

/* header {
    position: sticky;
    top: 0px;
} */

/* ---------------------- Position Absolute example*/
/* .absolute {
    position: relative;
}  

#two {
    position:absolute;
    top: 100px;
    left: 250px;
} */

/* ---------------------- Position Relative example */

/* #six {
    position: relative;
    left: 300px;
} */

/* #six {
    position: relative;
    top: 450px;
}  */

/* ---------------------- z-index example */

/* .layer1{
    z-index: 20;
} */

/* .layer2{
        z-index: 10;
} */