@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------Global */

.heading {
    font-family: 'Bebas Neue', cursive;
}

.text-center {
    text-align: center;
}

.line-break {
    padding-bottom: 14px;
}

.flex-container {
    display: flex;
}

.no-decor {
    text-decoration: none;
}

.no-list-style {
    list-style: none;
}

body {
    background-color: #a52a2a;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------------------------------------Header */
header {
    background: linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
    text-align: center;
    letter-spacing: 3.5px;
    padding: 5px;
    text-shadow: 3px 2px 8px black;
}


/* ------------------------------------------ Nav */
nav {
    justify-content: space-around;
}

nav ul li {
    display: inline;
    padding: 0 3.5px;
}

nav ul li a {
    color: inherit;
}

/* ------------------------------------------------------Main */

.container {
    background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
    padding: 10px;
    margin: 50px auto;
    border-radius: 30px;
    width: 95%;
}

main {
    background: url('../images/curtains.jpg')no-repeat center/100% 750px ;
    background-color: #f5f5dc;
    border-radius: 20px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}

main h2 {
    margin-top: 110px;
}