@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a52a2a;
    color: #fafafa;
    font-family: 'Roboto', sans-serif; 
}

/* -------------------------------------------Global */

.heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.line-break {
    padding-bottom: 14px;
}

.flex-container {
    display: flex;
}

.no-decor {
    text-decoration: none;
}

.no-list-style {
    list-style: none;
}

/* ----------------------------------------------------------Header */
header {
    background: linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
    color: #000;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3.5px;
    padding: 5px;
    text-shadow: 3px 2px 8px #fff;
}


/* ------------------------------------------ Nav */
nav {
    justify-content: space-around;
}

nav ul li {
    display: inline;
    padding: 0 3.5px;
}

nav ul li a {
    color: inherit;
}

/* ------------------------------------------------------Main */

.container {
    background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
    color: #000;
    padding: 10px;
    margin: 50px auto;
    border-radius: 30px;
    width: 95%;
}

.inner-container {
    background-color: #fafafa;
    border-radius: 20px;
}

#intro{
    background: url('../images/curtains.jpg')no-repeat center/100% 750px ;
    background-color: #f5f5dc;
    border-radius: 20px;
    height: 600px;
    margin: 0 auto;
    padding: 10px;
}

.first-heading {
    font-size: 70px;
    margin-top: 120px;

}

.second-heading {
    margin-top: 26px;
}

/* -------------------------------boxes */
.box {
    
    border: 2px solid #000;
    height: 150px;
    width: 150px;
    border-radius: 20px;;
    background-color: rgb(67, 140, 213);
    text-align: center;
    line-height: 150px;
    font-size: 1.75rem;
}

/* ---------------------------------- positioning keywords */
#position {
    height: 600px;
    position: relative;
}

#position span{
    
    height: 80px;
    width: 200px;
    font-size: 2.5rem;
    color: #000;
    background-color: rgb(67, 140, 213);
    border-radius: 20px;
    text-align: center;
}

.fas {
    font-size: 2rem;
    margin-top: 10%;
}

.top-position {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-position {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.left-position {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-position {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* -----------------------------z=index */

#z-index {
    position: relative;
    height: 600px;
}

#z-index > div {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    font-size: 2rem;
    text-align: center;
    line-height: 75px;
}

.layer1 {
    background-color: #a52a2a;
    position: absolute;
    top: 250px;
    left: 400px;
}

.layer2 {
    background: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967);
    position: absolute;
    top: 325px;
    left: 475px;
}

.layer3 {
    background-color: rgb(67, 140, 213);
    position: absolute;
    top: 400px;
    left: 550px;
}

#last-section {
    margin-bottom: 50px;
}





